#header .opener-icons:hover {
    background: blue;
}

#header .header-top a:hover {
    color: blue;
}

#header .head-socialnetworks a:hover {
    color: blue;
}

#nav a:hover {
    color: blue;
}

#nav li:hover>a,
#nav li.active>a {
    color: blue;
}

#nav .nav-opener:hover {
    background: blue;
    border-color: blue;
}

.side-widget h3:after {
    background: blue;
}

.side-widget a:hover {
    color: blue;
}

.side-widget .btn {
    background: blue;
    border-color: blue;
}

.btn-f-info {
    background: blue;
    border-color: blue;
}

.btn-more:hover {
    background: blue;
    border-color: blue;
}

.page-banner .heading:before {
    background: blue;
}

.page-banner .breadcrumbs a:hover {
    color: blue;
}

.page-banner.grey .breadcrumbs a:hover {
    color: blue;
}

.f-iconbox .icon {
    color: blue;
    border-color: blue;
}

.f-iconbox:hover .icon {
    background: blue;
}

.progress-holder .text,
#work-filter li a:hover {
    background: black;
}

.isotop-controls li.active a {
    background: blue;
}

.isotop-controls a:hover {
    background: blue;
}

.portfolio-block .over .plus {
    color: blue;
}

.portfolio-block .title:after {
    background: blue;
}

.portfolio-block .link {
    background: blue;
    color: #fff;
    opacity: .7;
}

.process-section .icon .num {
    background: red;
}

.progress-holder .progress-bar-outer {
    background: blue;
}

.core-section .list li:after {
    color: blue;
}

.contact-address h3 .fa {
    color: blue;
}

.contact-address a:hover {
    color: blue;
}

#style-changer .list-style .btn2 {
    background: blue;
    border-color: blue;
}

#style-changer .list-style .btn2.add:hover {
    background: blue;
    border-color: blue;
}

#style-changer .changer-opener {
    color: blue;
}

#gotoTop:hover,
.footer-social a:hover {
    background: blue;
}

.contact-form2 .btn-f-info {
    color: blue;
}

#header.style15 .opener-icons:hover {
    color: #fff;
}

.port-single ul .fa {
    color: blue;
}

#header.fixed-position #nav .nav-top>li:hover>a,
#header.fixed-position #nav .nav-top>li.hover>a,
#header.fixed-position #nav .nav-top>li.active>a {
    color: blue;
}

#header.fixed-position #nav .nav-top>li>a:hover {
    color: blue;
}

.dark .heading h2 {
    color: #fff;
}

.heading:after {
    background: blue;
}

.error-section h1 {
    color: blue;
}

.facts-section .num::after {
    background: blue;
}

.devisInfos a span,
.devisInfosContact a span {
    color: blue;
}

.list-tags a {
    color: #fff;
    background: blue;
}

.list-tags a:hover {
    color: #fff !important;
    background: #f47a6d;
}

.price-section .price:after,
.price-section.style2 .box .heading:after {
    background: blue;
}

.price-section .btn,
.price-section.style2 .box.active .btn,
.price-section.style2 .box:hover .btn {
    background: blue;
}

.col-icon {
    color: blue;
}

.portfolio-block .text-box h4::before {
    background: blue;
}